# modules/contextual/contextual.api.php

snippet hook_contextual_links_view_alter "hook_contextual_links_view_alter"
/**
 * Implements hook_contextual_links_view_alter().
 */
function `!v expand('%:t:r:r')`_contextual_links_view_alter(&$element, $items) {
  ${1}
}
endsnippet
