snippet hook_path_insert "hook_path_insert"
/**
 * Implements hook_path_insert().
 */
function `!v expand('%:t:r:r')`_path_insert($path) {
  ${1}
}
endsnippet

snippet hook_path_update "hook_path_update"
/**
 * Implements hook_path_update().
 */
function `!v expand('%:t:r:r')`_path_update($path) {
  ${1}
}
endsnippet

snippet hook_path_delete "hook_path_delete"
/**
 * Implements hook_path_delete().
 */
function `!v expand('%:t:r:r')`_path_delete($path) {
  ${1}
}
endsnippet
